* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #91a35c;
  color: white;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pokemon {
  width: 10em;
  height: 16em;
  font-size: 0.75;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #A8A77A;
  transition: all .2s ease-in-out;
}

.pokemon:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.type-names {
  margin-right: 4px;
}

.image-about {
  max-width: 100%;
  height: auto;
  padding: 1em;
  background-color: #ceeef0;
  border-radius: 1.5em;
}

.search-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
