* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #9cbde6;
  color: white;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pokemon {
  width: 10em;
  height: 16em;
  font-size: 0.75;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 2em;
  background-color: #A8A77A;
  transition: all .2s ease-in-out;
}

.pokemon:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.normal {
  background-color: #A8A77A;
}

.water {
  background-color: #EE8130;
}

.grass {
  background-color: #7AC74C;
}

.fire {
  background-color: #EE8130;
}

.bug {
  background-color: #A6B91A;
}

.poison {
  background-color: #A33EA1;
}

.electric {
  background-color: #F7D02C;
}